/* section1 */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    position: relative; 
    background: #FAFAFA;
}



.logo {
    width: 6%;
    height: auto; 
    margin-left: 2%;
}
.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.menu-item {
    margin-right: 40px;
}
.menu-item:last-child {
    margin-right: 0;
}
.menu-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 14pt;
}

/* section2 */

.background-image {
    position: relative;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    z-index: 1;
}

/* section2 */

.teks {
    position: absolute;
    top: 9%;                           /*zzzzzzzzzzzzzzzzzzz*/
    left: 7%;
    text-align: left;
    color: #ffffff;
    z-index: 3;
    font-weight: bold;
    font-style: italic;
}
.teks1 {
    font-size: 50pt;
    margin-bottom: 10px;
    letter-spacing: 0.1px;
}
.teks2 {
    text-align: right;
    margin-right: -30%;
    font-size: 20pt;
    margin-top: 10%;
}

/* section3 */

.teks3 {
    font-weight: bold;
    font-style: italic;
    text-align: center;
    font-size: 30pt;
    margin-top: 3%;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    margin-left: 2%;
}
.box {
    width: 350px; 
    height: 360px; 
    border-radius: 25px; 
    margin: 3%;
    padding: 20px; 
    text-align: justify; 
    background-color: #ffffff;
}
img {
    width: 100%; 
    border-radius: 4px; 
}
.arrow-icon {
    margin-top: 10px; 
    font-size: 24px; 
}
.judulbox {
    font-size: 15pt;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 5px;
}
.teksbox {
    font-size: 12pt;
    font-weight: medium;
    margin-top: 5px;
}

/* section4 */

.search {
    width: 282px;
    margin-left: 72%;
    border-radius: 20px;
}
input {
    height: 35px;
    width: 283px;
    padding: 8px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 20px;
    outline: none;
    
}
.additional-box {
    height: 35px;
    width: 41px;
    background-color: #3A86D4;
    box-shadow: 0 4px 8px rgba(57, 134, 216, 0.3);
    border-radius: 20px 0px 0px 20px;
    font-weight: bold;
    font-size: 17pt;
    color: #fff;
}
.combined-button {
    background-color: #fff;
    color: #333;
    border-radius: 20px 20px 20px 20px;
    cursor: pointer;
    position: absolute;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 0 4px 8px rgba(57, 134, 216, 0.3);
    display: flex;
    height: 35px;
    width: 289px;
    margin: 50px auto;
    font-weight: bold;
    margin-top: 0px;
    margin-left: 9%;
}
.batas {
    font-size: 27pt;
    margin-top: -12.5px;
}
#non-wisata,
#wisata {
    flex-grow: 1;
    text-align: center;
    padding: 5.5px;
    
    transition: color 0.3s ease;
}
#non-wisata {
    border-radius: 0px 0px 0px 0px;
}
#wisata {
    border-radius: 0px 20px 20px 0px;
}
#non-wisata:hover,
#wisata:hover {
    color: #fff;
}
#non-wisata:hover {
    background-color: #3986D8;
}
#wisata:hover {
    background-color: #3986D8;
}

/* section5 */

.custom-box {
    width: 80%; /* Sesuaikan lebar box sesuai kebutuhan Anda */
    height: 300px;
    border-radius: 25px;
    margin: 0 auto; /* Untuk membuat box berada di tengah halaman */
    padding: 30px;
    background-color: #fff; /* Warna putih */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Efek bayangan untuk memberikan kedalaman */
    display: flex;
    margin-top: 3%;
} 
.foto {
    width: 40%; /* Sesuaikan ukuran foto sesuai kebutuhan Anda */
    height: auto; /* Biarkan tinggi foto menyesuaikan agar tidak terdistorsi */
    margin-right: 20px; /* Jarak antara foto dengan konten di sebelah kanan */
}
.content {
    flex: 1; /* Agar konten di sebelah kanan bisa mengisi ruang yang tersedia */
}
.teks-kanan {
    font-size: 25pt;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 5px;
}
.teks-kanan-deskripsi {
    font-size: 16pt;
    font-weight: medium;
} 
.button {
    width: 100%;
    margin-top: 7%;
    padding: 10px 15px; /* Sesuaikan ukuran padding sesuai kebutuhan Anda */
    border-radius: 12px;
    background-color: #3986D8; /* Warna latar belakang tombol */
    color: #fff; /* Warna teks tombol */
    border: none; /* Hilangkan garis batas tombol */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Efek transisi saat hover */
}
.button:hover {
    background-color: #305f99; /* Warna latar belakang tombol saat dihover */
}

/* section6 */
  

